<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
<style>
#site-head .blog-title {
    font-family: 'Akaya Telivigala', cursive;
    color: #203864;
    text-shadow: none;
    font-size: 4.5rem;
    font-weight: 400;
}

#site-head .blog-title .title-gold {
    color: #BF9000;
}

#site-head .blog-description {
    color: #203864;
}
</style>
